/****** Tag ******/
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
    width: 90vw;
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p{
    margin: 0;
    font-size: 12px;
    color: darkgray;
}
h1{
    font-size: 96px;
}
h3, h5{
    margin: 0;
    font-size: 24px;
    align-self: center;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 90vw;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    flex-direction: column;
    margin-top: 20px;
}
summary:hover{
    cursor: pointer;
}
/****** Class ******/
.clickable:hover{
    cursor: pointer;
}
.column{
    flex-direction: column;
}
.h3Dot{
    display: flex;
    font-size: 48px;
    line-height: 24px;
}
.row{
    display: flex;
    flex-direction: row;
}
/****** Tag.Class ******/
h1.gradient{
    display: inline;
    margin: 0;
    background-image: 
        linear-gradient(rgba(86,29,94,0.90),rgba(255, 165, 0,0.75) 65%, rgba(255, 255, 0,0.75) 70%, rgba(255,0,0,0.75) 80%),
        radial-gradient(ellipse at center, rgba(0,0,0,1),rgba(255, 165, 0,1), rgba(255, 255, 0,1), rgba(255, 0, 0,1),rgba(0,0,0,0.75) 60%);
    background-size: 20% 100%;
    background-repeat: repeat-x;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    animation-name: flames;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1s;
    text-shadow: 0 10px 10px rgba(255,169,0,0.375);
}
/****** ID ******/

/****** ID Tag ******/



/****** Animations ******/
@keyframes flames {
    11%{
        background-position: 0.1vw 0.4vh;
        background-image: 
        linear-gradient(rgba(86,29,94,0.90) 41%,rgba(255, 165, 0,0.75) 65%, rgba(255, 255, 0,0.75) 70%, rgba(255,0,0,0.75) 80%),
        radial-gradient(ellipse at bottom, rgba(0,0,0,1),rgba(255, 165, 0,1), rgba(255, 255, 0,1), rgba(255, 0, 0,1),rgba(0,0,0,0.75) 40%);
    }
    22%{
        background-position: 0 0.5vh;
        background-image: 
        linear-gradient(rgba(86,29,94,0.90) 53%,rgba(255, 165, 0,0.75) 65%, rgba(255, 255, 0,0.75) 70%, rgba(255,0,0,0.75) 80%),
        radial-gradient(ellipse at center, rgba(0,0,0,1),rgba(255, 165, 0,1), rgba(255, 255, 0,1), rgba(255, 0, 0,1),rgba(0,0,0,0.75) 50%);
    }
    33%{
        background-position:-0.1vw 0.45vh;
        background-image: 
        linear-gradient(rgba(86,29,94,0.90) 47%,rgba(255, 165, 0,0.75) 65%, rgba(255, 255, 0,0.75) 70%, rgba(255,0,0,0.75) 80%),
        radial-gradient(ellipse at bottom, rgba(0,0,0,1),rgba(255, 165, 0,1), rgba(255, 255, 0,1), rgba(255, 0, 0,1),rgba(0,0,0,0.75) 45%);
    }
    44%{
        background-position: 0 0.55vh;
        background-image: 
        linear-gradient(rgba(86,29,94,0.90) 59%,rgba(255, 165, 0,0.75) 65%, rgba(255, 255, 0,0.75) 70%, rgba(255,0,0,0.75) 80%),
        radial-gradient(ellipse at top, rgba(0,0,0,1),rgba(255, 165, 0,1), rgba(255, 255, 0,1), rgba(255, 0, 0,1),rgba(0,0,0,0.75) 55%);
    }
    55%{
        background-position: -0.1vw 0.4vh;
        background-image: 
        linear-gradient(rgba(86,29,94,0.90) 41%,rgba(255, 165, 0,0.75) 65%, rgba(255, 255, 0,0.75) 70%, rgba(255,0,0,0.75) 80%),
        radial-gradient(ellipse at bottom, rgba(0,0,0,1),rgba(255, 165, 0,1), rgba(255, 255, 0,1), rgba(255, 0, 0,1),rgba(0,0,0,0.75) 40%);
    }
    66%{
        background-position: 0 0.45vh;
        background-image: 
        linear-gradient(rgba(86,29,94,0.90) 47%,rgba(255, 165, 0,0.75) 65%, rgba(255, 255, 0,0.75) 70%, rgba(255,0,0,0.75) 80%),
        radial-gradient(ellipse at center, rgba(0,0,0,1),rgba(255, 165, 0,1), rgba(255, 255, 0,1), rgba(255, 0, 0,1),rgba(0,0,0,0.75) 45%);
    }
    77%{
        background-position: 0.1vw 0.4vh;
        background-image: 
        linear-gradient(rgba(86,29,94,0.90) 41%,rgba(255, 165, 0,0.75) 65%, rgba(255, 255, 0,0.75) 70%, rgba(255,0,0,0.75) 80%),
        radial-gradient(ellipse at bottom, rgba(0,0,0,1),rgba(255, 165, 0,1), rgba(255, 255, 0,1), rgba(255, 0, 0,1),rgba(0,0,0,0.75) 40%);
    }
    88%{
        background-position: 0 0.475vh;
        background-image: 
        linear-gradient(rgba(86,29,94,0.90) 50%,rgba(255, 165, 0,0.75) 65%, rgba(255, 255, 0,0.75) 70%, rgba(255,0,0,0.75) 80%),
        radial-gradient(ellipse at top, rgba(0,0,0,1),rgba(255, 165, 0,1), rgba(255, 255, 0,1), rgba(255, 0, 0,1),rgba(0,0,0,0.75) 47.5%);
    }
    100%{
        background-position: 0.1 0.5vh;
        background-image: 
        linear-gradient(rgba(86,29,94,0.90) 53%,rgba(255, 165, 0,0.75) 65%, rgba(255, 255, 0,0.75) 70%, rgba(255,0,0,0.75) 80%),
        radial-gradient(ellipse at center, rgba(0,0,0,1),rgba(255, 165, 0,1), rgba(255, 255, 0,1), rgba(255, 0, 0,1),rgba(0,0,0,0.75) 50%);
    }
}